<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # TODO: make real vhost
    RewriteBase /~bgetsug/hostbase

    RewriteRule ^ index.php [L]
</IfModule>